<!--{toplogo}-->

<!--   {catedit}--><!-- commented out - mwp-->



<!-- THIS IS THE MAIN WEBPAC BIB DISPLAY

  Note that this screen undergoes substantial transformation using jQuery/JavaScript. (See jquery-local.js.)

-->

<!--{ifbibdisplay}-->

<div id="bibDisplayBody" class="container">

  <div><!-- related search dov - mwp-->

<!--{relsearch}-->

  </div><!-- close related search dov - mwp-->

  <div class="navigationRow">

  <form class="form-horizontal" role="form">

  <div class="form-group">

<!--{navrow}-->

<!--{searchhistory}-->

</div>

  </form>

  </div> <!-- close nav row div - mwp-->



  <div id="bibDisplayContent">

    <div class="bibSearch">

<!--{searchtool}-->

    </div><!-- close bibsearch div - mwp-->

    <div class="bibPager">

<!--{pager}-->

    </div> <!-- close bibpager div - mwp-->



    <!-- Left-hand side bar -->

    <div class="bibDisplayJacket visible-lg text-success">

      <div class="bookcover">

        <div id="cover" style="display:none;">

        </div><!-- close cover div - mwp-->

        <div id="linkedImage" style="display:none;">

<!--{linkeddocs}-->

        </div> <!-- close linked image div - mwp-->

      </div><!-- close bookcover div - mwp-->

      <div><!--display bibimage div - mwp-->

<!--{bibimage}-->

      </div><!-- close bibimage div - mwp-->

     
 <div id="untMoreInfo"> 



        <div class="addthis_toolbox addthis_default_style ">

          <a id="addthis" class="addthis_button" href="http://www.addthis.com/bookmark.php">

          <img src="//s7.addthis.com/static/btn/sm-plus.gif" width="16" height="16" border="0" alt="Share" /> Share</a>

        </div><!-- close addthis_toolbox addthis_default_style div - mwp-->

        <!-- AddThis Button END -->

        <div> <!-- refworks export div - mwp-->
<a href="http://exlibris.colgate.edu/refworks/export.php?url=
<!--{recordlink}-->
a"  target="refworks">Export to Refworks</a>

        </div><!-- close refworks export div - mwp-->


        <div id="permalinkContainer" class="last">

<a href="javascript:{myWindow=window.open('blank.html','PersistentLink','width=600,height=50');
myWindow.document.write('<pre>http://library.colgate.edu
<!--{recordlink}-->
');myWindow.document.close();}">Permanent Link</a>



        </div><!-- close permalink div - mwp-->


        <!-- #EndLibraryItem -->  


        <div><!-- loan rules div - mwp-->

<a href="http://exlibris.colgate.edu/borrowing/loanrules.html" target="_blank">Policies, Fines, etc.</a>
   </div> <!-- close loan rules div - mwp-->


        <div class="qr">

<!--{innreach}-->
        </div> <!-- close qr (innreach) div - mwp-->


      </div> <!-- close untMoreInfo div - mwp-->


      

      <br />


    </div><!-- close bibdisplayjacket div - mwp-->


  </div> <!-- close bibDisplayContent -->

  

  <!-- Bib record display -->

  <div id="untMainContent" class="bibDisplayContentMain">

    <h1 class="bibDisplayTitle">

<!--{recordinfo:!}-->

    </h1>

    <div class="bibMedia">

<!--{media}-->

    </div><!-- close bibMedia div -->

<!--{booking}-->

<!--{holdingslink}-->

    <div class="bibDisplayUrls">

<!--{URLS}-->

    </div><!-- close bibDisplayURLS div -->

<!--{holdings}-->

<!--{bloblinks}-->

<!--{imagelinks}-->

<!--{artthumb}-->

<!--{xmlframe}-->

<!--{ifTOC}-->

<!--{TOC}-->

<!--{xif}-->

<!--{holds}-->



    <div class="bibDisplayItems">

      <div class="bibDisplayItemsMain">

<!--{items}-->

      </div><!-- close bibDisplayItems div -->

    </div><!-- close bibDisplayItems div -->



<!--{orders}-->



    <div class="bibDisplayContentMore">

<!--{recordinfo:#}-->

    </div><!-- close bibDisplayContentMore div -->



  </div><!-- close untMainContent ??-->

</div><!-- close bibDisplayBody ?? -->



<div style="display:none">

  <div id="subjectDialog">

    <h1 class="dialogTitle">Subject and Genre Headings</h1>

    <p><strong>Subject headings</strong> and <strong>genre headings</strong> are categories that can help you find related items on a topic. <em>Click on the subject term or phrase to see other items held in this library on the same topic.</em> (If this is the only item on this subject you will be brought back to the same page.)</p>

    <p><strong>As you hover</strong> over a subject, you will be presented a "See Also" link.  Clicking this will show you other similar subjects and subdivisions of this term.</p>

    <p>For books, government documents, scores, and other physical media you may also find the <span class="ss_sprite ss_timeline_marker">&nbsp;</span><strong>Nearby Items</strong> link in the sidebar helpful. Clicking this shows you a list of items that are shelved near the one you are viewing. These are usually on the same (or similar) subjects and are probably also relevant to your search.</p>

  </div><!-- close subjectdialog -->

</div><!-- close display:none  -->






<!--{else}-->

<!-- THIS IS THE DISPLAY USED BY THE FULL RECORD EXPORT FUNCTION -->

<div class="bibDisplayFullExport">

  <span class="permalink" style="display:none;">

<!--{recordlink}-->

  </span>

  <h1 class="bibDisplayTitle">

<!--{recordinfo:t}-->

  </h1>

<!--{recordinfo:shpbe}-->

  <div class="bibMedia">

<!--{media}-->

  </div><!-- close bibMedia -->


<!--{booking}-->

<!--{holdingslink}-->

  <div class="bibDisplayUrls">

<!--{URLS}-->

  </div><!-- close bibDisplayURLS -->


<!--{holdings}-->

  <div class="bibDisplayItems">

    <div class="bibDisplayItemsMain">

<!--{items}-->

    </div><!-- close bibDisplayItemsMain div -->


  </div><!-- close bibDisplayItems div -->


<!--{orders}-->

  <div class="bibDisplayContentMore">

<!--{recordinfo:#}-->

  </div><!-- close bibDisplayContentMore div -->


</div><!-- close bibDisplayFullExport div -->


<!--{xif}-->

<!--{botlogo}-->
