
	<div class="container visible-lg text-success">
	<div class="row">

		<div class="col-xs-6 col-sm-4">
			<strong>
				Contact Information</strong>
				<address itemscope itemtype="http://schema.org/LocalBusiness">
			  <address>
				<span itemprop="name">Colgate University Libraries</span><br>
				<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">13 Oak Street</span><br>
				<span itemprop="addressLocality">Hamilton</span>,<span itemprop="addressRegion"> NY</span> <span itemprop="postalCode"> 13346</span><br>
				<span itemprop="telephone">(315) 228-7300</span></address>
			<p><a href="http://exlibris.colgate.edu/about/hours.html">Hours</a></p>
		</div> <!-- footer-middle  -->

		<div class="col-xs-6 col-sm-4">
			<strong>
				Contact Us Online</strong>
			<p><a href="https://bitbucket.org/colglibsys/wwwopac/issues/new" title="Tell us how we are doing">Tell us how we are doing</a></p>
			<!--<p><a href="http://exlibris.onapache.edu/forms/report-problem" title="Report a problem">Report a problem</a></p>
			<p><a href="https://exlibris.onapache.edu/project-manager/user?destination=node/add/ticket" title="Submit a help ticket">Submit a help ticket</a></p>-->
		</div><!-- footer-middle  -->

		<div class="col-xs-6 col-sm-4">
			<strong>
				Colgate University Links</strong>
			<ul>

				<li>
					<a href="http://portal.colgate.edu">Colgate Portal</a></li>
				<li>
					<a href="http://www.colgate.edu/home/privacy-policy">Privacy</a></li>
				<li>
					<a href="http://www.colgate.edu/offices-and-services/environmentalhealthandsafetyoffice/emergency-management">Emergency 
                                Preparedness</a></li>
			</ul>
		</div><!-- footer-right  -->
		</div>

	</div><!-- footer-top-wrap  -->

	<div>
		<p><a href="http://exlibris.colgate.edu/mobile/">Mobile Site</a> | &copy;2013  Colgate University Libraries | Powered by Sierra</p>

  </div><!-- site-footer-note  -->
       
        <div class="clearfix" style="height:2em;">&nbsp;  </div>

</div><!-- footer  -->
</div>
</div><!-- foot-wrap  -->
</div>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0021/8852.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23458559-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<!-- end botlogo.html file -->

<!--this is customized <screens/botlogo.html>-->
