<!-- Rel 2009B Example Set -->

<tr>
<td class="briefcitCell">

<div class="briefcitRow" class="clearfix">


<div class="briefcitLeft">


<div class="briefcitEntryNum">

<!--{entrynum}-->

</div>

</div>

<div class="briefcitAuthDetail" class="clearfix">

<div class="briefcitDetailMain">

<table><tr><td>

<!--{authdata}-->

</tr></table>

</div>

</div>

<div class="briefcitClear"></div>

</div>

</td>

</tr>



