
<!-- Rel 2009B Example Set -->
<!-- This File Last Changed: 15 Oct 2009 -->
<tr>
<td class="briefcitCell">

<div class="briefcitRow">

<div class="briefcitLeft">
<div class="briefcitEntryNum">
<!--{entrynum}-->
</div>
<div class="briefcitMark">
<!--{mark}-->
</div>

<div class="briefcitMedia">
<!--{media}-->
</div>

</div>


<div class="briefcitJacket">
<!--{bookjacket}-->
</div>


<div class="briefcitDetail">

<div class="briefcitDetailMain">

<!--{nohitmsg}-->
<h2 class="briefcitTitle">
<span class="briefcitTitleUniform">
<!--{linkfieldspec:Vbt245ab}-->
</span>
</h2>
<br >
<!--{fieldspec:Vba}-->
<br >
<!--{fieldspec:Vbp}-->

<!--{year}-->

<br>
<div class="briefcitRatings">
<h2>Rating:</h2>
<!--{rating}-->
</div>

<div class="briefcitRequest">
<!--{request}-->
</div>
<span class="briefcitStatus">
<!--{holds}-->
</span>

<div class="briefcitActions">
</div>

</div>
</div>
<div class="briefcitItems">
<div class="briefcitItemsHeader"><h2>Copies</h2></div>
<div class="briefcitItemsMain">
<!--{items}-->
</div>
</div>

</div>





<div class="briefcitClear"></div>

</div>
</td>
</tr>
