@charset"utf-8";



/****************************/

/* experimental tabnav */

/****************************/
#etabs {
        margin: 0;
        padding: 0
        clear: none;
        /*color: #826633*/
    }
.tab {
        display: inline-block;
        zoom:1;
        *display:inline;
        background: #eee;
        border: solid 1px #999;
        border-bottom: none;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0
        /*color: #826633*/
    }

.tab a {
        font-size: 18px;
        line-height: 2em;
        display: block;
        padding: 0 10px;
        outline: none;
        color: #862633
    } 
    
.tab li a {
        font-size: 18px;
        line-height: 2em;
        display: block;
        padding: 0 10px;
        outline: none;
        color: #862633
    }
.tab li a:hover {
        text-decoration: underline;
        color: #862633
    }
.tab.active {
        background: #fff;
        background: rgb(255,255,255);
        padding-top: 6px;
        position: relative;
        top: 1px;
        border-color: #666;
        color: #862633
    }
.tab li a.active {
        font-weight: bold;
        color: #862633
    }
.tab-container .panel-container {
        background: #fff;
        border: solid #666 1px;
        padding: 10px;
        -moz-border-radius: 0 4px 4px 4px;
        -webkit-border-radius: 0 4px 4px 4px;
        /*color: #826633*/
    }

.tab-container a
       {
       color: #862633
      }



.wrap {
        width:600px;
        margin:0 auto;
    }
.left_col {
        float:left;
        width:300px;
    }
.right_col {
        float:right;
        width:300px;
    }
.tab-container {
        margin-left: 50px;
        margin-right: 50px;
                clear: none;
    }

<!-- .breadcrumb {
        background-color: #eee;
    }
#breadcrumb {
        background-color: #eee;
  } -->  


