<!-- 2006 WebPAC Pro Version, set from 26 March, 2007 -->
<!-- This file last changed: 20 April, 2006 -->
<!--{toplogo}-->
<!--{patron}-->
<div class="topDiv">
<div>
<div id="bibLeft">&nbsp;</div>
<div id="bibContent">
<div class="raised">
<b class="top"><b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b></b>
<div class="tool">
<!--{searchtool}-->
</div>
<b class="bottom"><b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b></b>
</div>
</div>
<div id="bibRight"></div>
</div>
<div class="clear"></div>
</div>
<!--{patron}-->
<div class="table-responsive table table-condensed">
<table class="table" >
<tr>
<td>
<div class="patMainFuncs">
<div class="patStatusLinks">
<!--{ifholds}-->
<!--{holdsbtn}-->
<!--{xif}-->

<!--{ifill}-->
<!--{illbtn}-->
<!--{xif}-->

<!--{iffines}-->
<!--{finesbtn}-->
<!--{xif}-->

<!--{ifchkouts}-->
<!--{chkoutsbtn}-->
<!--{xif}-->

<!--{ifprograms}-->
<!--{programsbtn}-->
<!--{xif}-->

<!--{ifbookings}-->
<!--{bookingsbtn}-->
<!--{xif}-->

<!--{ifmsgs}-->
<!--{msgsbtn}-->
<!--{xif}-->
<div>
Contact the circulation desk at either Case-Geyer (315-228-7300) or Cooley Science Library for (315-228-7312) assistance.
</div>
</div>
</div>
</td>
<td>
<div class="patNameAddress">
<!--{ifpatimage}-->
<!--{patimage}-->
<!--{xif}-->
<!--{patroninfo}-->
</div>
</td>

<td>
<div class="patActionsLinks">
<!--{ifmodifypin}-->
<!--{modifypinbtn}-->
<!--{xif}-->
<!--{ifmodifypatinfo}-->
<!--{modifypatinfobtn}-->
<!--{xif}-->
<!--{ifpsearch}-->
<!--{psearchbtn}-->
<!--{xif}-->
<!--{ifmffav}-->
<!--{mffavbtn}-->
<!--{xif}-->
<!--{ifcirchist}-->
<!--{circhistbtn}-->
<!--{xif}-->
<!--{ifpatrate}-->
<!--{patratebtn}-->
<!--{xif}-->
<!--{ifpatreview}-->
<!--{patreviewbtn}-->
<!--{xif}-->
</div>
</td>
</tr>
</table>
</div>
<div class="patFuncArea">
<!--{patfunc}-->
</div>
</div></div>
<div style="clear:both"></div>
<!--{botlogo}-->
</body>
</html>