<!--{toplogo}-->

<div class="folderWrapper"><!-- "folder" interface wrapper div-->
	<div class="mainSpacer"><!--wrapper div that contains the selection tabs-->
		<div class="mainActiveTab"><!--active tab-->
			<b class="tabTop"><b class="active1"></b><b class="active2"></b><b class="active3"></b><b class="active4"></b></b>
			<div class="DisplayBoxContent"></div>
		</div><!--close active tab-->
	</div><!--close selection tab wrapper-->
	<div class="mainSpacer"><!-- main content wrapper div -->
		<div class="mainActiveContent">
<table class="textFix"><tr><td valign="top">
<div class="pageMainAreaHeader">Off-Campus WAM Login</div>
<br />
<form class="form-horizontal" method="post" class="unpadded" name="patform">
<!--{iferrmsg}-->
<span class="errorMessage">
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<!--{else}-->
<!--{errmsg}-->
<!--{xif}-->
</span><br /><br /><br />
<!--{xif}-->

<!--{campus}-->
<!--{ifneedpatronverify}-->
<!--{ifextid}-->
<table border="0" width="100%" class="loginarea texFix">
<tr>
<td valign="top">
<div id="extpat">
<strong>Login with campus identification:</strong><br /><br/>
Your Colgate Network username:&nbsp; &nbsp;<br/>
<!--{extpatid}-->
<br /><br/>
Your Network Password:&nbsp; &nbsp;<br/>
<!--{extpatpw}-->
</div>
</td>
<!--{xif}-->
<!--{xif}-->
<td valign="top">
<div id="libpat">
<strong>or login with library identification:</strong><br /><br/>
<!--{ifneedpatronname}-->
<!--{nameprompt}-->
&nbsp; &nbsp;<BR/>
<!--{name}-->
<br /><br/>
<!--endpatronname-->
<!--{xif}-->
<!--{ifneedpatronverify}-->
The Barcode # on the back of your ID
       <!--{barcodeprompt}-->
&nbsp; &nbsp;<br/>
<!--{barcode}-->
<br />
<!--{ifneedspin}-->
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<br />
<!--{pin1prompt}-->
&nbsp; &nbsp;
<!--{pin1}-->
<br />
<!--{pin2prompt}-->
&nbsp; &nbsp;
<!--{pin2}-->
<!--{else}-->
<!--{pinprompt}-->
&nbsp; &nbsp;
<!--{pin}-->
<br />
<!--{xif}-->
<!--{xif}-->
<!--{xif}-->
</div>
</td>
</tr>
</table>
<br /><br />
<!--{submit}-->
</form>
<P/><P/>
<div align="left">
<!--{startover}-->
</div>
</td></tr></table>


		</div>

</div>
</div>
<div style="clear:both"></div>
<!--{botlogo}-->
</body>
</html>
