<!--{toplogo}-->
<div id="column-0">

<div style="clear:both"/>
    
<table class="textFix"><tr><td valign="top" width="7%"></td>
<td valign="top" width="55%">
<form name="patform" method="POST" class="unpadded">
<!--{iferrmsg}-->
<br />
<span class="errormessage">
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<!--{else}-->
<!--{errmsg}-->
<!--{xif}-->
<br /><br />
</span>
<!--{xif}-->
<!--{ifneedpatronverify}-->
<!--{ifextpat}-->
<table>
<tr>
<td valign="top">
<!-- "extpat" -->
<strong>Login with campus identification:&nbsp;&nbsp; </strong>
<br /><br/>
Your Campus Network ID: &nbsp;<br/>
<!--{extpatid}-->
<br /><br/>
Your Network Password:&nbsp; &nbsp;<br/>
<!--{extpatpw}-->
<!-- close extpat -->
<!--{xif}-->
<!--{xif}-->
</td>
<td valign="top">

<!-- id="libpat"-->
<strong>or login with library identification:</strong><br />
<!--{ifneedpatronname}-->
<br/>Please enter your Last Name: <br/>     
      <!--{nameprompt}-->

<!--{name}-->
<br /></br>
<!--{xif}-->
<!--{ifneedpatronverify}-->
       <!--{barcodeprompt}-->
Please enter your barcode from the back of your ID: <br>
<!--{barcode}-->
<br />
<!--{ifneedspin}-->
<!--{iferrmsgisPIN}-->
<!--{newpinmsg}-->
<br />
<!--{pin1prompt}-->
&nbsp; &nbsp;
<!--{pin1}-->
<br />
<!--{pin2prompt}-->
&nbsp; &nbsp;
<!--{pin2}-->
<!--{else}-->
<!--{pinprompt}-->
&nbsp; &nbsp;
<!--{pin}-->
<br />
<!--{xif}-->
<!--{xif}-->
<!--{xif}-->
<!-- close libpat -->
<!--{xif}-->
</td>
</tr>
</table>
<br />
<!--{submit}-->
</form>
</td></tr>
<tr><td>

</td></tr></table>
</div> <!-- close folder wrapper -->

<!--{botlogo}-->

</div><!--  column-0-->
</div><!--  main-->
</div><!-- bd body -->

</body>
</html>
