<div class="container visible-lg text-success">
    <div class="row">

        <div id="sitesearch" class="col-xs-6 col-sm-6 visible-lg text-success">
            <!-- Google CSE Search Box Begins  -->

            <form class="form-horizontal" role="form" action="http://www.google.com/cse" id="searchbox_015539383155000620408:rvuujua4yhu">
                <div class="form-group">
                    <input class="form-control" name="cx" type="hidden" value="015539383155000620408:rvuujua4yhu" />
                    <input name="cof" type="hidden" value="FORID:0" />
                    <input maxlength="75" name="q" onclick="this.value='';" size="15" type="text" value="search this site --&gt;" />
                    <input class="btn btn-default" name="sa" type="submit" value="Go" />
                </div>
            </form>
            <script src="http://www.google.com/coop/cse/brand?form=searchbox_015539383155000620408%3Arvuujua4yhu" type="text/javascript"></script>
            <!-- Google CSE Search Box Ends -->
        </div>
        <div id="hd" style="float:right" class="col-xs-6 col-sm-6 visible-lg text-success">
            <a href="http://www.colgate.edu">COLGATE UNIVERSITY</a> | <a href="http://moodle.colgate.edu">MOODLE</a> | <a href="https://portal.colgate.edu:8443/uPortal">MY COLGATE</a> | <a href="http://gomail.colgate.edu">COLGATE GMAIL</a> |
            <a href="https://twitter.com/ColgateULibs">
                <img alt="Click to go Libraries' Twitter" height="10" src="http://exlibris.colgate.edu/images/twitterlogo.png" width="55" />
            </a>
        </div>
    </div>
</div>

<!--top search form and CU links-->

<div class="container visible-lg text-success">

    <div id="main" class="row">
        <div id="logo" class="col-xs-12 col-md-8">
            <a href="http://exlibris.colgate.edu/">

                <h2>Colgate University Libraries
                </h2>

                <h1>connect ˜ discover ˜ create
                </h1>
            </a>
        </div>

        <div class="col-xs-6 col-md-4">
            <p>
                <small><a href="https://library.colgate.edu/patroninfo/">My
                            Library Account</a>
                </small>
            </p>
        </div>
    </div>
</div>

<!--navigation-->

<div class="container visible-lg text-success">
    <ul class="nav nav-tabs">
        <li class="active"><a href="http://exlibris.colgate.edu/default.html" target="_blank">Library Home</a>
        </li>
        <li><a href="http://library.colgate.edu/" target="_blank">Catalog</a>
        </li>
        <li><a href="http://cu-cel.org/library/subjectsplus/subjects/" target="_blank">Course & Subject Guides</a>
        </li>
        <li><a href="http://cu-cel.org/licensedb/licenses/index_alldb.php?titlecode=" target="_blank">Databases A - Z</a>
        </li>
        <li><a href="http://exlibris.colgate.edu/resources/referencelinks.html" target="_blank">Reference</a>
        </li>
    </ul>
</div>

<!--end navigation-->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li><a href="http://exlibris.colgate.edu/default.html">Library
                            Home</a>
                </li>
                <li><a href="/search">Catalog
                            Search</a>
                </li>
            </ol>
        </div>
        <div class="col-md-6">
            <a href="http://exlibris.colgate.edu/services/reference.html">
                <img align="right" alt="ask a librarian" height="28" id="asklogo" src="http://exlibris.colgate.edu/images/icons/ask-interior2.gif" width="78" />
            </a>
        </div>
    </div>
</div>
<br />
